
<div id="wrapper" class="qm2018">
  <!-- Header Start -->
  <div class="print-logo">
    <f:cObject typoscriptObjectPath="lib.print_logo"/>
  
    </div>
  <header id="header" class="navbar navbar-default">
    <div class="container">
      <f:cObject typoscriptObjectPath="lib.qm_logo"/>
      <span class="login-link"><f:cObject typoscriptObjectPath="lib.login_link"/></span>
      
    </div>
    
  </header>
  
  
  <section id="p{data.uid}" class="{pageClass}">
    <f:render section="Main"/>
  </section>
</div>